body {
  background-color: white;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  height: 100vh;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}

.grid-area {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.note {
  padding: 10px;
}

.initial-state-area {
  flex-grow: 1;
}

.grid-area .grid {
  height: 70vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.grid .row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
}

.row .cell {
  border: 0.5px solid #efefef;
  flex-grow: 1;
}

.dead {
  background-color: white;
}

.alive {
  background-color: #FF5F5D;
}

.controls {
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  font-size: 17px;
  border-radius: 2px;
  min-width: 300px;
  cursor: pointer;
}

.start-button {
  background-color: #00CCBF;
}

.disabled-button {
  background-color: #747E7E;
}

.stop-button {
  background-color: #FF5F5D;
}